cospo/

Planks/.ipynb_checkpoints/array-checkpoint.txt
Planks/.ipynb_checkpoints/1-checkpoint.ipynb
Planks/.ipynb_checkpoints/Brute_methode-checkpoint.ipynb
Planks/.ipynb_checkpoints/1-checkpoint.ipynb
Planks/.ipynb_checkpoints/1-checkpoint.ipynb
Planks/.ipynb_checkpoints/cos-checkpoint.py
Planks/.ipynb_checkpoints/CurrentWork-checkpoint.ipynb
Planks/.ipynb_checkpoints/data_result-checkpoint.txt
Planks/.ipynb_checkpoints/Double parameter fitting-checkpoint.ipynb
Planks/.ipynb_checkpoints/Plank_iteration-checkpoint.ipynb
Planks/.ipynb_checkpoints/Single parameter finding-checkpoint.ipynb
Planks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Planks/__pycache__/cos.cpython-39.pyc
Planks/__pycache__/Cosmo_funt.cpython-39.pyc
Planks/__pycache__/cosmo_main.cpython-39.pyc
Planks/.ipynb_checkpoints/1-checkpoint.ipynb
Planks/.ipynb_checkpoints/CurrentWork-checkpoint.ipynb
Planks/.ipynb_checkpoints/Plank_iteration-checkpoint.ipynb
Planks/.ipynb_checkpoints/1-checkpoint.ipynb
Planks/.ipynb_checkpoints/CurrentWork-checkpoint.ipynb
Planks/.ipynb_checkpoints/Plank_iteration-checkpoint.ipynb
Planks/.ipynb_checkpoints/Plank_iteration-checkpoint.ipynb
Planks/.ipynb_checkpoints/CurrentWork-checkpoint.ipynb
Planks/.ipynb_checkpoints/1-checkpoint.ipynb
Planks/.ipynb_checkpoints/
Planks/__pycache__/
Planks2/.ipynb_checkpoints/
Planks2/__pycache__/
Planks2/Planks
Planks2/COSMO
